[Unit]
Description=Audio API Server
After=default.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Planetarium/planetarium2024/apiServerAudio
ExecStartPre=sleep 10
ExecStart=/home/pi/.local/bin/uvicorn main:app --host pi-controller.local --port 8001
Restart=always

[Install]
WantedBy=default.target
