[Unit]
Description=Audio API Server
After=default.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Planetarium/planetarium2024/apiServerAudio
ExecStartPre=sleep 10
ExecStart=sh launch.sh
Restart=always

[Install]
WantedBy=default.target
