*backup*
*.kicad_prl
*cache*
*gerber
*.zip

__pycache__
node_modules
.next/
*storybook.log
next-env.d.ts
planetarium2024/httpServer/httpServer
_*.wav
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-Add-On.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-ESP32-C3-DIP.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-ESP32-C6-DIP.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-ESP32-C6-SMD.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-ESP32-S3-DIP.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-ESP32-S3-SMD_PAD.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-ESP32-S3-SMD.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-nRF52840-DIP.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-nRF52840-SMD.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-R4-DIP.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-R4-SMD.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-RP2040-DIP.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-RP2040-SMD.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-RP2350-DIP.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-RP2350-SMD.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-SAMD21-DIP.kicad_mod
planetarium/motor_driver/Seeed_Studio_XIAO_Series.pretty/XIAO-SAMD21-SMD.kicad_mod
