[Unit]
Description=LED API Server
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Planetarium/planetarium2024/apiServerLED
ExecStart=sh launch.sh
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

